* {
	-moz-user-select: none;
	-o-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	margin: 0;
	border: 0;
	padding: 0;
}

body {
	width: 100%;
	height: 100%;
	margin: 0;
	border: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	overflow-x: hidden;
	overflow-y: auto;
}

.container {
	width: 100%;
	max-width: 600px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	padding-bottom: 1rem;
}

.update-time {
	font-size: 0.20rem;
	color: #6d6d6d;
}

.app-logo {
	width: 4rem;
	height: auto;
}

.app-title {
	font-size: 0.32rem;
	color: #000000;
	margin-top: -0.2rem;
}

.app-btn {
	display: none;
	margin-top: 0.3rem;
	width: 5.2rem;
	height: 0.9rem;
	background-color: #fe4d58;
	color: #FFFFFF;
	font-size: 0.35rem;
	line-height: 0.9rem;
	text-align: center;
	border-radius: 0.1rem;
	cursor: pointer;
	text-decoration: none;
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
	-webkit-user-select: none;
	-moz-user-focus: none;
	-moz-user-select: none;
}

.app-btn:hover {
	background-color: #eb4c4c;
	text-decoration: none;
}

.app-btn:active {
	text-decoration: none;
}

.app-btn:link {
	text-decoration: none;
}

.app-btn:visited {
	text-decoration: none;
}

.app-desc {
	width: 100%;
	box-sizing: border-box;
	padding: 0 0.4rem;
	margin-top: 1rem;
}

.app-desc-title {
	font-size: 0.4rem;
	color: #000000;
}

.app-desc-content {
	font-size: 0.32rem;
	color: #000000;
	margin-top: 0.2rem;
}

.tips {
	position: fixed;
	top: 0.1rem;
	right: 0.1rem;
	background-color: #EB4C4C;
	color: #FFFFFF;
	font-size: 0.28rem;
	width: 2rem;
	padding: 0.1rem;
	border-radius: 0.1rem;
	word-break: break-all;
	display: none;
}
